In [2]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

file_path = '/content/drive/My Drive/Term Project/CLOCK IN-OUT DATA.xlsx'

df_data = pd.read_excel(file_path)
arr_data = df_data.to_numpy()

print(df_data)

Mounted at /content/drive
    Employee Name  Employee ID            Designation       Date        DAY  \
0           Alice            1                Cleaner   1-2-2023  Wednesday
1            John            9                Cashier   1-2-2023  Wednesday
2         Bradley           13                Manager   1-2-2023  Wednesday
3            Mike           26            Store Clerk   1-2-2023  Wednesday
4             NaN           94  STOCKER/SALES/CASHIER   1-2-2023  Wednesday
..            ...          ...                    ...        ...        ...
275        Rachel            7  STOCKER/SALES/CASHIER  14-2-2023    Tuesday
276          Judy           41  STOCKER/SALES/CASHIER  14-2-2023    Tuesday
277         Clara           22                Manager  14-2-2023    Tuesday
278          Sera            3  STOCKER/SALES/CASHIER  14-2-2023    Tuesday
279           Sam           12            Store Clerk  14-2-2023    Tuesday

     Clock In Clock Out
0    17:55:20  19:15:02
1    17:56:10  22:35:00
2         NaN       NaN
3    13:44:25  20:12:23
4    16:20:00  17:30:24
..        ...       ...
275       NaN       NaN
276       NaN       NaN
277  16:24:13  22:03:44
278       NaN       NaN
279       NaN       NaN

[280 rows x 7 columns]

In [38]:

file_path_2 = '/content/drive/My Drive/Term Project/shift.xlsx'
df_shift = pd.read_excel(file_path_2)
arr_shift = df_data.to_numpy()

print(df_shift)

   Employee Name             DESIGNATION  CLOCK IN CLOCK OUT
0           Alice                Cleaner  18:30:00  22:00:00
1            John                Cashier  09:30:00  13:30:00
2        Bradley                 Manager  17:30:00  22:00:00
3          Celine            Store Clerk       NaN       NaN
4            Mike  STOCKER/SALES/CASHIER  12:00:00  16:00:00
5           Dilan  STOCKER/SALES/CASHIER  16:00:00  22:00:00
6            Paul  STOCKER/SALES/CASHIER       NaN       NaN
7           Johan                Cleaner       NaN       NaN
8          Steven  STOCKER/SALES/CASHIER       NaN       NaN
9           Amara  STOCKER/SALES/CASHIER  16:00:00  22:00:00
10          Grace                Cashier  18:30:00  22:00:00
11            Sue  STOCKER/SALES/CASHIER       NaN       NaN
12          Tyler            Store Clerk       NaN       NaN
13        Gregory  STOCKER/SALES/CASHIER  16:00:00  22:00:00
14       Michelle            Store Clerk       NaN       NaN
15         Rachel  STOCKER/SALES/CASHIER       NaN       NaN
16           Judy  STOCKER/SALES/CASHIER       NaN       NaN
17          Clara                Manager       NaN       NaN
18           Sera  STOCKER/SALES/CASHIER       NaN       NaN
19            Sam            Store Clerk  14:00:00  20:00:00

In [1]:
!ls

sample_data

In [36]:
import pandas as pd
# Example dat
shift = pd.DataFrame({
   'Employee_ID': [1, 2, 3],
   'Scheduled_Start': ['2024-11-19 09:00', '2024-11-19 14:00', '2024-11-19 08:00'],
   'Scheduled_End': ['2024-11-19 17:00', '2024-11-19 22:00', '2024-11-19 16:00']
})
df_data = pd.DataFrame({
   'Employee_ID': [1, 2, 3],
   'Clock_In': ['2024-11-19 09:15', '2024-11-19 14:05', '2024-11-19 07:50'],
   'Clock_Out': ['2024-11-19 17:10', '2024-11-19 22:15', '2024-11-19 15:45']})
# Assuming you intended to print a dictionary
print('Employee_Name': 1, 2, 3)

SyntaxError: invalid syntax (<ipython-input-36-85b5a4434aad>, line 13)